$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile: 375px;
$mobile-s: 320px;

$font-color: rgb(23, 23, 23);
$font-secondary-color: rgb(246, 82, 82);
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 800;